<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cars, brands-models</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/2583f1c49f.js"></script>

</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md">
      <h3>Available Cars</h3>
    </div>
  </div>
  <form action="." method="get" class="row">
    <div class="col-md-3">Brand:</div>
    <div class="col-md-3">{{ brands_form.name }}</div>
    <div class="col-md-1">
      <button class="btn btn-primary btn-block">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
  <div class="row">
    <div class="col-md-3">Model:</div>
    <div class="col-md-3">{{ models_form.name }}</div>
  </div>
</div>
</body>
</html>
